.category_container{
    display: flex;
}

.category_items {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darkgray;
    height: 48px;
    width: 380px;
    margin: 24px;
}

.filtered_items_container {
    display: flex;
   flex-wrap: wrap;
}

.brand_items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid darkgray;
    width: 250px;
    height: 48px;
    margin: 24px;
}

.category_items.active {
    border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
} 