.container {
    width: 700px;
}

.brands_container {
    display: flex;
    margin: 24px;
}

.brands {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darkgray;
    height: 48px;
    width: 180px;
    margin: 24px;
}

.brand_item_container {
    display: flex;
    flex-direction: column-reverse;
}

.brand_items{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid darkgray;
    height: 48px;
    width: 380px;
    margin: 24px;
}

.brands.active {
    border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px;
}